.container{
    margin: 50px 10px;
}

.card{
    margin: 0 2% !important;
    box-shadow: 4px 6px 22px 6px rgba(0,0,0,0.3) !important; 
    
}

.infected{
    border-bottom:  10px solid rgba(6, 6, 240, 0.5);
}
.recovered{
    border-bottom:  10px solid rgba(0,255,0,0.5);
}
.deaths{
    border-bottom:  10px solid rgba(224, 56, 56, 0.897);
}

@media (max-width: 770px){

    .card{
        margin: 2% 0 !important;
    }

}