.container{
    margin: 50px 10px;
    
}
.logo2 img{
    border-radius: 50%;
    width: 120px;
    margin: 4px 30px;
}


.card{
    margin: 0 2% !important;
    box-shadow: 4px 6px 22px 6px rgba(0,0,0,0.3) !important; 
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: black !important;
    color: white !important;
}