body{
    background-color: rgb(99, 175, 189);
}

.container{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.container img{
    border-radius: 50%;
    width: 120px;
    margin-top: 23px;
    /* margin-right: 300px; */
}

.logo{
    background-color: rgb(248, 251, 252);
    color: black !important;
    border-radius: 10px;
    width: 37%;
    text-align: center;
    box-shadow: 4px 6px 22px 6px rgba(0,0,0,0.3) !important; 
    /* text-overflow: unset; */
    /* text-justify: newspaper; */
    font-size: 10px;
    margin-top: 10px;
}

.logo2{
    background-color: rgb(248, 251, 252);
    color: black;
    border-radius: 10px;
    width: 33%;
    text-align: center;
    box-shadow: 4px 6px 22px 6px rgba(0,0,0,0.3) !important; 
    margin-top: 10px;
    font-family: 'Tangerine', serif;
    font-size: 18px;
    text-shadow: 4px 4px 4px #aaa;
}

@media (max-width: 770px){

    .container{
        margin: 0 10%;
    }

}